.form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.input {
    padding: 8px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 300px;

}

.submitButton {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;


    margin-top: 10px;
}

.error {
    color: red;
}